*{
    box-sizing: border-box;
    columns: #000000;
}
body{
    background-image: url(/resources/images/pizza-neon-light-signage-1596888.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav{
    width: 100%;
    height: 60px;
    background-color: #ea272d;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.20);
}
.nav-bar{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 12%;
}
.menu ul{
    display: flex;
}
.menu ul li a{
    padding: 0px 30px;
    font-family:calibri;
    font-weight: bold;
    color: floralwhite;
}
.card{
    background: inherit;
    color: floralwhite;
}
li{
    list-style: none;
}
button{
    background-color: #ea272d;
    border: none;
    border-radius: 50px;
}
#show-order{
    display: none;
  }